// Background color: `#131B29`
// Default text color: `#F0F4F8`
// Quote table head text color: `#8698aa`
// Buy quote price text color: `#00b15d`
// Sell quote price text color: `#FF5B5A`
// Quote row hover background color: `#1E3059`
// Buy quote accumulative total size bar color: `rgba(16, 186, 104, 0.12)`
// Sell quote accumulative total size bar color: `rgba(255, 90, 90, 0.12)`
// Animation flash green background color: `rgba(0, 177, 93, 0.5)`
// Animation flash red background color: `rgba(255, 91, 90, 0.5)`

.orderBlock {
  padding: 5px 0;
  color: aliceblue;
  background-color: #131B29;
  width: 300px;

  .header {
    color: #F0F4F8;
    font-weight: 600;
    padding-left: 10px;
  }

  .columnHeader {
    font-size: 14px;
    color: #8698aa;
    display: flex;
    padding: 15px 0;
  }

  .quoteList {
    .quote {
      display: flex;
      align-items: center;
      height: 30px;
      line-height: 24px;

      &:hover {
        background: #1E3059 !important;
      }
    }
  }

  .price {
    flex:1 0 30%;
    padding-left: 10px;
  }
  .size {
    text-align: right;
    flex:1 0 30%;
  }
  .total {
    padding-right: 10px;
    text-align: right;
    flex:1 0 40%;
    background: linear-gradient(to left, var(--color) var(--width), transparent var(--width)); 
  }

  .current{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background:rgba(134, 152, 170, 0.12) ;
    color: #F0F4F8 ;
    position: relative;
    letter-spacing: 1.2px;

    span {
      position: relative;
      font-size: 20px;
    }
  }

  .currentBuy {
    background:rgba(16, 186, 104, 0.12) ;
    color: #00b15d ;
  }
  .currentSell {
    background:rgba(255, 90, 90, 0.12);
    color: #FF5B5A;
  }

  .sellColor {
    color: #00b15d;
  }
  .buyColor {
    color: #FF5B5A;
  }
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 177, 93, 0.5);
  }
  to {
    background-color: transparent;
  }
}

@keyframes flash {
  from {
    background-color: rgba(0, 177, 93, 0.5);
  }
  to {
    background-color: transparent;
  }
}

.new {
  animation: fadeIn 0.5s ease-in-out;
}

.updated {
  animation: flash 0.3s ease-in-out;
}


.asks-new {
  animation: asksFadeIn 0.5s ease-in-out;
}
.asks-updated {
  animation: asksFlash 0.3s ease-in-out;
}

@keyframes asksFadeIn {
  from {
    background-color: rgba(255, 91, 90, 0.5)
  }
  to {
    background-color: transparent;
  }
}

@keyframes asksFlash {
  from {
    background-color: rgba(255, 91, 90, 0.5);
  }
  to {
    background-color: transparent;
  }
}

.arrow {
  mask-image: url('./IconArrowDown.svg');
  width: 24px;
  height: 24px;
  
  &.arrowDown {
    background-color: #FF5B5A;
  }

  &.arrowUp {
    transform: rotate(180deg);
    background-color: #00b15d;
  }
  &.hidden {
    display: none;
  }
}